* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
main,
button,
input{
    width: 100%;
    margin: 0;
    font-family: "Noto Sans Japan","Yu Gothic","Hiragino Sans" ;

}
body{
    position: relative;
}
h1,h2,h3,h4,p{
    margin: 0;
}
.head-wrap,
.top,
.sec-2-wrap,
.sec-3-wrap,
.sec-4-wrap,
.btm-wrap,
.sec-5-wrap,
.footer-wrap > div,
.fm-wrap{
    width: 1260px; 
    margin: 0 auto;
}

/* 初期状態: フェードインアニメーションを準備 */
.fade-in,
.fade-in2,
.fade-in3,
.bottom-sp{
    opacity: 0;
}

.bottom-sp.visible {
    animation: fadeIn 0.3s linear 0.3s 1 normal backwards;
    opacity: 1;
}

.fade-in.visible {
    animation: fadeIn 0.3s linear 0.5s 1 normal backwards;
    opacity: 1;
}
.fade-in2.visible {
    animation: fadeIn 0.3s linear 0.8s 1 normal backwards;
    opacity: 1;
}

.fade-in3.visible {
    animation: fadeIn 0.3s linear 1.1s 1 normal backwards;
    opacity: 1;
}
@keyframes fadeIn {
    from {
      transform: translateY(10%);
      opacity: 0;
      
    }
  
    to {
      transform: translateY(0%);
      
    }
  }

.top{
    margin-bottom: 30px;
    margin-top: 1%;
    margin-bottom: 4%;
}

header{
    width: 100%;
    background-color: #FFF;
    /* padding: 15px 0; */
    box-shadow: 0 -1px 30px #8b9fb3;
    z-index: 100;
    position: fixed;
}
.header-l h1{
    margin: 0;
}
.header-l span,
.top-l .mail-ttl,
header a{
    font-size: 23px;
    font-weight: bold;
    color: #0066CC;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.top-l .mail-ttl{
    font-size: 35px;
}
.btm-wrap .mail-ttl{
    font-size: 43px;
    font-weight: bold;
    color: #0066CC;
    display: block;
}
.header-l h1 img{
    width: 150px;
    vertical-align:middle;
    margin-right: 10px;
}
header div,
.footer-wrap > div,
.top,
.sec-2-wrap,
.sec-3-box,
.sec-4-box,
.sec-5-box{
    display: flex;
    justify-content: space-between;
}
.footer-wrap{
    padding-bottom: 25px;
    border-top: 2px solid #0066CC;
}
main{
    background-color: #DEF1FC;
    padding-top: 180px;
}
.top-l,
.top-r,
.sec-2-l,
.sec-2-r{
    width: 50%;
}
.top-r img{
    width: 85%;
}
.top-l img{
    width: 70%;
}
.top-l h2,
.top-l h3,
.enter.top{
    margin-bottom: 15px;
}
.top-l h2{
    font-size: 32px;
}
.top-l h3{
    font-size: 18px;
    line-height: 1.8em;
    letter-spacing: 0.1rem;
}
.top-r{
    text-align: right;
}
.top-bottom{
    width: 100%;
    display: block; /* これで画像の下にできる隙間を防ぎます */
    margin: 0; /* マージンをゼロに設定 */
    padding: 0; /* パディングをゼロに設定 */
    /* position: relative;
    bottom: -15px; */
}
img.top-bottom{
    background-color: #DEF1FC;
}

.sec-2,
.footer-wrap{
    background-color: #0066CC;
}
.sec-2-l{
    color: #FFF;
}
.sec-2-r img{
    width: 100%;
}
.sec-2-wrap{
    position: relative;
    z-index: 1;
}
.sec-2-l img{
    width: 60%;
    margin-right: 10px;
}
.sec-2-l h3{
    font-size: 40px;
    font-weight: bold;
    display: block;
    vertical-align: center;
}
.sec-2-l p{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.8em;
    margin-bottom: 50px;
}
.sec-2-l-ttl{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.sec-2-l-btm,
.sec-3-l-btm{
    display: flex;
}
.sec-2-l-btm h4,
.sec-3-l-btm h4{
    font-size: 18px;
    /* font-size: 24px; */
    background-color: #FF9900;
    padding: 7px 40px;
    border-radius: 35px;
    text-align: center;
    margin-right: 20px;
}
.sec-2{
    position: relative;
}
.back-img1,
.back-img2{
    position: absolute;
}
.back-img1{
    right: 0;
}
.back-img2{
    position: absolute;
    left: 0;
    bottom: 0;
}
.enter{
    border: none;
    background: none;
    background: linear-gradient(#FE9B59, #EE680F);
    color: #FFF;
    font-weight: bold;
    text-align: center;
    border-radius: 55px;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}
.enter.top{
    font-size: 36px;
    width: 80%;
    padding: 15px 0;
    border: solid 2px rgba(0,0,0,0);/* ADD */
}
.enter:hover{
    background: #FFF;
    color: #EE680F;
    border: 2px solid #EE680F;
    transform: translate(0, 03px);
}
.enter.head{
    padding: 0 30px;
}
.enter.head p{
    margin: 0 20px;
}
.enter.head p{
    font-size: 20px;
}
.enter.top p{
    text-align: center;
    margin: 15px 0;
}
button.enter.head{
    position: relative;
    display: inline-block;
    margin: 13px 0;
}

button.enter.head p,
button.enter.top p{
    display: inline-block;
    margin: 0;
}

button.enter.head span,
button.enter.top span{
    display: inline-block;
    transition: transform 0.3s ease;
}

button.enter.head:hover span {
    transform: translateX(5px); /* 右に5px移動 */
}
button.enter.top:hover span{
    transform: translateX(10px); /* 右に5px移動 */
}
.sec-2-wrap,
.sec-3-wrap,
.sec-4-wrap,
.sec-5-wrap{
    padding: 200px 0;
}
.bottom{
    padding: 200px 0 250px 0;
}
.fm-wrap{
    padding: 10% 0;
}
.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.section-title img {
    position: absolute;
    left: 30px;
    width: 40px;
}
.section-title span {
    margin-left: 30px; /* Adjust this value to create enough space for the image */
}
.sec-3-box{
    background-color: #FFF;
    border-radius: 500px;
    border: 2px solid #EE680F;
    padding: 40px 80px;
    position: relative;
    margin-bottom: 100px;
}
.sec-3-box-r{
    width: 20%;
    text-align: center;
}
.sec-3-box-r img{
    height: 180px;
}
.sec-3-box-r.wide img{
    height: 200px;
}
.sec-3-box-l{
    width: 75%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec-3-box.wide .sec-3-box-l{
    justify-content: space-around;
}
.sec-3-box-l h3{
    font-size: 160%;
}
.sec-3-box-l h4{
    font-size: 115%;
}
.sec-3-box span{
    font-family: 'Arial';
    font-style: italic;
    position: absolute;
    font-size: 80px;
    color: #FF6600;
    font-weight: bold;
    top: -50px;
}
.sec-3-box.second span{
    right: 0;
}
.sec-3-tb,
.top-sp,
br.sp,
.bottom-sp{
    display: none;
}
.sec-3-btm{
    display:flex; 
    justify-content: center; 
    align-items:center; 
    margin-bottom: 30px;
}
.sec-3-btm h4{
    font-size: 25px;
}
.sec-3-btm h3{
    display:flex; 
    justify-content: center; 
    align-items:center; 
    font-size:35px;
}
.sec-3,
.sec-5{
    background-color: #FFFDEC;
}
.sec-3-ttl{
    margin-bottom: 90px;
}
.sec-3-ttl,
.sec-5-ttl h3{
    font-size: 40px;
    color: #FF6600;
    text-align: center;
}
.section-title{
    display: flex;
}
.section-title img{
    margin-right: 20px;
}
.sec-4-l{
    width: 25%;
    position: relative;
}
.sec-2-l-btm.btm {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}
.section-title {
    width: 30%;
    font-size: 20px;
    background: #FF6600!important;
    color: #FFF;
}
.sec-4-wrap h3{
    display:flex; 
    justify-content: center; 
    align-items:center; 
    font-size: 35px; 
    margin-bottom: 70px;
}
.sec-4-wrap h3 img{
    width: 250px; 
    margin: 0 10px;
}
.sec-4-l .sec-4-ttl{
    border: 2px solid #0066CC;
    color: #0066CC;
    width: 120px;
    height: 120px;
    border-radius: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
}
.sec-4-l .sec-4-img{
    background: #FFF; width: 300px; 
    height: 300px; 
    border-radius: 500px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.sec-4-img img{
    width: 250px;
}
.sec-4-l p{
    line-height:1.9em; 
    padding-top: 20px;
}
.btm-wrap{
    text-align: center;
}
button.enter.top.btm{
    width: 500px;
}
.sec-5-l{
    width: 23%;
}
.sec-5-l img{
    width: 100%;
    margin-bottom: 20px;
}
.sec-5-l p{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3em;
}
.sec-5-box.sp{
    display: none;
}

footer{
    width: 100%;
    /* position: absolute;
    bottom: 0; */
    z-index: 99;
    /* padding-bottom: 25px; */
}
footer,
footer a{
    font-size: 17px;
    color: #FFF;
}
footer a{
    text-decoration: none;
    border-bottom: 0.5px #FFF solid;
}
footer a:hover{
    transition: 0.3s;
    opacity: 0.8;
}
.bottom h3{
    font-size: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}
.bottom h3::before{
    content: "＼";
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 5px;

}
.bottom h3::after{
    content: "／";
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 5px;

}
.bottom h3 span{
    color: #FF6600;
    font-size: 40px;
    border-bottom: 5px dotted #FF6600;
}



/* 申し込みフォーム */
main.form{
    padding: 0;
}
main.form h2{
    color: #0066CC;
    margin-bottom: 40px;
    /* text-align: center; */
    font-size: 40px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
form > div p{
    font-weight: bold;
}
.fm-box{
    background: #FFF;
    width: 100%;
    padding: 100px;
    border-radius: 50px;
}
form{
    font-size: 120%;
}
label{
    color: #0066CC;
    font-weight: bold;
    font-size: 120%;
    display: flex;
    align-items: center;
}
form input#name,
form input#email,
form input#organization{
    height: 35px;
    background-color: #ddd;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    padding: 0 10px;
}
input::placeholder {
    font-size: 20px;
   }
.sbm-enter{
    text-align: center;
}
form > div{
    width: 100%;
    margin-bottom: 30px;
}

label p{
    font-size: 60%;
    font-weight: normal;
    color: gray;
    margin-left: 10px;
}
label span{
    color: #FFF;
    background-color: #FF6600;
    padding: 2px 6px;
    margin: 0 0 0 10px;
    font-size: 70%;
}
input.sub-button,
.sub-button.ret{
    padding: 20px;
    font-size: 120%;
    font-weight: bold;
    cursor: pointer;
    border: none;
    width: 50%;
    display: block;
    margin: 70px auto 0;
    background-color: #99CC00;
    color: #FFF;
    border-radius: 50px;
    transition: 0.5s;
}
input.sub-button:hover,
.sub-button.ret:hover{
    opacity: 0.7;
    transform: translate(0, 03px);
}
.sub-button.ret{
    background-color: #c0c0c0;
}
.sub-button.go{
    background-color: #EE680F;
    margin: 30px auto 0;
}

@media screen and (max-width: 1024px){ /* タブレット */
    main{
        padding-top: 161px;
    }
    .head-wrap,
    .top,
    .sec-2-wrap,
    .sec-3-wrap,
    .sec-4-wrap,
    .sec-5-wrap,
    /* .bottom, */
    .btm-wrap,
    .footer-wrap > div,
    .fm-wrap{
            width: 90%;
        }
    .top-l h2 {
        font-size: 19px;
    }
    .top-l h3 {
        font-size: 13px;
    }
    .top-l h2,
    .top-l h3{
        margin-bottom: 7px;
    }
    .top-l .mail-ttl {
        font-size: 22px;
    }
    .enter.top{
        font-size: 25px;
        padding: 9px 0;
        margin-top: 0!important;
    }
    .sec-2-wrap,
    .sec-3-wrap,
    .sec-4-wrap,
    .sec-5-wrap,
    .bottom{
        padding: 100px 0;
    }
    .top-r{
        display: flex;
        justify-content: flex-end;
    }
    .back-img1{
        width: 50%;
    }
    .back-img2{
        width: 70%;
    }
    .sec-2-l-ttl{
        margin-bottom: 20px;
    }
    .sec-2-l p{
        font-size: 16px;
    }
    .sec-2-l-btm h4{
        font-size: 13px;
        padding: 5px;
        letter-spacing: 0.1rem;
    } 
    .sec-2-l p{
        font-size: 13px;
        margin-bottom: 20px;
    }
    .sec-2-l-btm.btm{
        margin-bottom: 0;
    }
    .sec-3-box-l{
        width: 60%;
    }
    .sec-3-box-r img{
        height: 200px;
        margin-bottom: 20px;
    }
    .sec-3-box-r h3{
        text-align: left;
        font-size: 25px;
        margin-bottom: 10px;
    }
    .sec-3-box-l h4{
        font-size: 100%;
    }
    .sec-3-box{
        /* display: block; */
        border-radius: 90px;
        padding: 40px 50px;
    }
    .sec-3-box span{
        left: 10px;
        font-size: 100px;
    }
    .section-title img{
        width: 40px;
        padding: 5px;
        margin-right: 12px;
    }
    .sec-3-l-btm h4{
        font-size: 20px;
        padding: 5px;
    }
    .sec-3-btm h3{
        font-size: 25px;
    }
    .sec-3-pc{
        display: none;
    }
    .sec-3-tb{
        display: block;
    }
    .fade-in.visible,
    .fade-in.visible2,
    .fade-in.visible3 {
        animation: fadeIn 0.3s linear 0.5s 1 normal backwards;
        opacity: 1;
    }
    .sec-3-ttl, 
    .sec-5-ttl h3{
        font-size: 30px;
    }
    .sec-4-box{
        display: block;
    }
    .sec-4-l{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    .sec-4-l p{
        width: 50%;
        font-size: 110%;
        display: flex;
        align-items: center;
    }
    br.pc{
        display: none;
    }
    footer{
        /* padding: 13px; */
    }

    /* フォームページ */
    .fm-wrap{
        padding: 17% 0 10% 0;
    }
    .fm-box{
        padding: 65px;
    }
    

}

@media screen and (max-width: 667px){ /* スマホ */
    main{
        padding-top: 90px;
    }
    .head-wrap,
    .sec-3-l-btm.btm,
    .top-sp,
    br.sp,
    .top,
    .sec-2-wrap,
    .bottom-sp.visible{
        display: block;
    }
    header{
        /* padding: 5px 0; */
    }
    header div{
        justify-content: flex-start;
    }
    .header-l h1 img{
        width: 100px;
    }
    .header-l span{
        font-size: 16px;
    }
    button.enter.head{
        margin-top: 10px;
        display: none;
    }
    .top{
        text-align: center;
    }
    .top-l{
        margin-bottom: 30px;
    }
    .top-r{
        display: none;
    }
    .top-l img{
        padding: 0;
    }
    .top-l, .top-r, .sec-2-l, .sec-2-r,
    .section-title{
        width: 100%;
    }
    .section-title{
        margin-bottom: 20px;
    }
    .sec-2-r{
        margin: 50px 0;
    }
    .sec-2-l-btm h4{
        letter-spacing: 0;
    }
    .sec-3-box-r h3{
        font-size: 20px;
    }
    
    .sec-3-ttl{
        font-size: 20px;
    }
    .sec-3-box{
        border-radius: 40px;
        padding: 40px 25px;
    }
    .sec-3-box span{
        font-size: 70px;
    }
    .sec-3-btm,
    .sec-3-btm h3,
    .sec-4-wrap h3{
        display: block;
        text-align: center;
    }
    .sec-4-wrap h3,
    .sec-4-wrap h4,
    .sec-3-btm h4,
    .sec-3-btm h3{
        font-size: 120%;
    }
    br .sp{
        display: block;
    }
    .sec-4-wrap{
        padding: 100px 0 0 0;
    }
    .sec-4-l{
        display: block;
    }
    .sec-4-l p{
        width: 100%;
    }
    .sec-4-l .sec-4-img,
    .top-l img{
        margin: 0 auto;
    }
    .top-sp{
        width: 100%!important;
        margin: 40px 0!important;
    }
    .back-img1{
        width: 70%;
    }
    .back-img2{
        width: 100%;
    }
    .top-l .mail-ttl{
        justify-content: center;
        font-size: 27px;
    }
    .sec-5-box.pc{
        display: none;
    }
    .sec-5-box.sp{
        display: block;
    }
    .sec-5-box.sp .sec-5-l{
        /* display: flex; */
        width: 100%;
        margin-bottom: 50px;
    }
    .sec-5-box.sp{
        display: block;
    }
    .footer-wrap > div{
        display: block;
        text-align: center;
    }
    .enter.top{
        width: 100%;
    }
    button.enter.top.btm{
        width: 100%!important;
        margin: 0;
    }
    .btm-wrap img{
        width: 100%!important;
    }
    .btm-wrap .mail-ttl{
        font-size: 30px;
    }
    .bottom h3::before,
    .bottom h3::after{
        content: "";
    }
    .ft-img{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        bottom: -20px;
    }
    img.top-bottom{
        width: 180%;
    }
    .bottom-sp{
        padding: 20px;
        position: absolute;
        position: fixed;
        z-index: 9999;
        bottom: 0;
        width: 100%;
        background: #FFF;
        box-shadow: 0 0 20px #8b9fb3;
    }
    button.bottom-sp{
        height: 30px;
    }
    button.bottom-sp p{
        padding: 0;
    }
    .enter.bottom{
        font-size: 20px;
        padding: 10px;
    }
    /* フォームページ */
    .fm-wrap{
        padding: 30% 0;
    }
    .fm-box{
        padding: 30px;
        padding: 0;
        background: none;
    }
    main.form h2{
        font-size: 25px;
        line-height: 1.2em;
    }
    label{
        display: block;
        font-size: 100%;
    }
    label span{
        margin: 0;
    }
    label p{
        font-size: 80%;
        margin: 0;
    }
    input.sub-button{
        width: 100%;
    }
    form input#name, form input#email, form input#organization{
        background-color: #FFF;
    }


}